.center {
    text-align: center;
}

.tbedges {
    color: #FFFFFF;
    background-color: #17A2B7;
    padding: 10px;
}

.margin {
    margin: 25px 2.5px 50px 2.5px;
}

body {
    height: 100px;
    width: 225px;
}

#message {
    color: red;
}
